button.left,
button.right,
button.remove {
  border: none;
  width: 30px;
  height: 26px;
  font-weight: 600;
}

button.left,
button.right {
  background-color: #959595;
  color: white;
}

button.left:hover,
button.right:hover {
  background-color: #888888;
  color: white;
}
