.header.row {
  display: flex;
  width: 450px;
  height: 65px;
}

.col.col-start {
  flex-grow: 5;
}

.col.col-start .text {
  font-size: 15px;
  line-height: 65px;
  color: rgb(68, 68, 68);
}

.col.col-start .text .text.month {
  font-size: 35px;
  display: inline-block;
  margin-left: 18px;
  margin-right: 15px;
  color: white;
}

.col.col-end {
  display: flex;
  align-items: end;
  gap: 11px;
  padding-right: 18px;
  padding-bottom: 15px;
}

.days.row {
  display: flex;
  height: 35px;
  width: 450px;
}

.days.row .col {
  width: calc(600px / 7);
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(232, 232, 232);
}

.body {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.body .row {
  display: flex;
  height: 55px;
}

.body .row .col.cell.selected,
.body .row .col.cell.disabled,
.body .row .col.cell.valid {
  width: calc(600px / 7);
  font-size: 18px;
  line-height: 55px;
  text-align: center;
}

.body .row .col.cell.selected {
  color: white;
  cursor: pointer;
}

.body .row .col.cell.selected:hover {
  font-weight: 800;
}

.body .row .col.cell.disabled {
  color: rgb(68, 68, 68);
}

.body .row .col.cell.valid {
  color: white;
  cursor: pointer;
}

.body .row .col.cell.valid:hover {
  font-weight: 800;
}

div.col.cell.selected {
  position: relative;
}

div.col.cell.selected::before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: 10px;
  width: 37px;
  height: 37px;
  color: white;
  border: 4px dotted;
  border-radius: 50%;
}

div.col.cell.itsToday {
  color: rgb(181, 79, 42) !important;
  font-weight: 800 !important;
}

div.col.cell.itsToday:hover {
  color: rgb(238, 108, 60) !important;
}
