.TodoItem li {
  list-style: none;
  height: 40px;
  font-size: 22px;
  padding: 5px;
  color: #474747;
  display: flex;
}

.TodoItem li input {
  width: 22px;
  height: 22px;
}

li.delete {
  text-decoration: line-through;
}
