.MainCover_container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.PlanningPage_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.root {
  width: 100vw;
}
