/*  MainCover  */

.MainCover {
  width: 100vw;
  height: 100vh;
  background-color: #7b98a8;
  padding: 120px;
  box-sizing: border-box;
}

.MainCover .typing_line {
  color: white;
  font-size: 53px;
}

.MainCover .typing_line_second {
  display: flex;
  align-items: center;

  margin-left: 130px;
}

.MainCover .typing_line .typing_line_first span,
.MainCover .typing_line .typing_line_second span:not(:last-child) {
  opacity: 0;
  animation-name: typingEffect;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}
.MainCover .typing_line_first span:nth-child(1) {
  animation-delay: 0.4s;
}
.MainCover .typing_line_first span:nth-child(2) {
  animation-delay: 0.45s;
}
.MainCover .typing_line_first span:nth-child(3) {
  animation-delay: 0.6s;
}
.MainCover .typing_line_first span:nth-child(4) {
  animation-delay: 0.63s;
}
.MainCover .typing_line_first span:nth-child(5) {
  animation-delay: 0.68s;
}
.MainCover .typing_line_first span:nth-child(6) {
  animation-delay: 0.74s;
}
.MainCover .typing_line_first span:nth-child(7) {
  animation-delay: 0.8s;
}
.MainCover .typing_line_first span:nth-child(8) {
  animation-delay: 0.93s;
}
.MainCover .typing_line_first span:nth-child(9) {
  animation-delay: 1s;
}
.MainCover .typing_line_first span:nth-child(10) {
  animation-delay: 1.12s;
}
.MainCover .typing_line_first span:nth-child(11) {
  animation-delay: 1.2s;
}

.MainCover .typing_line_second span:nth-child(1) {
  animation-delay: 1.24s;
}
.MainCover .typing_line_second span:nth-child(2) {
  animation-delay: 1.3s;
}
.MainCover .typing_line_second span:nth-child(3) {
  animation-delay: 1.35s;
}
.MainCover .typing_line_second span:nth-child(4) {
  animation-delay: 1.5s;
}
.MainCover .typing_line_second span:nth-child(5) {
  animation-delay: 1.53s;
}
.MainCover .typing_line_second span:nth-child(6) {
  animation-delay: 1.6s;
}
.MainCover .typing_line_second span:nth-child(7) {
  animation-delay: 1.64s;
}
.MainCover .typing_line_second span:nth-child(8) {
  animation-delay: 1.8s;
}
.MainCover .typing_line_second span:nth-child(9) {
  animation-delay: 1.92s;
}
.MainCover .typing_line_second span:nth-child(10) {
  animation-delay: 2s;
}
.MainCover .typing_line_second span:nth-child(11) {
  animation-delay: 2.17s;
}
.MainCover .typing_line_second span:nth-child(12) {
  animation-delay: 2.24s;
}
.MainCover .typing_line_second span:nth-child(13) {
  animation-delay: 2.3s;
}

@keyframes typingEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.MainCover .typing_cursor {
  display: inline-block;

  opacity: 0;

  width: 5px;
  height: 55px;
  background-color: white;

  margin-left: 6px;

  animation-name: typingCusorEffect;
  animation-duration: 1.2s;
  animation-delay: 1.9s;
  animation-iteration-count: infinite;
}

@keyframes typingCusorEffect {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
